@font-face {
    font-family: 'pacmanFont';
    src: url('pacfont/PAC-FONT.ttf') format('truetype');
}

#pacmanTitle {
	font-family: 'pacmanFont';
	color: #FFD700; 
	font-size: 50px;

} 
#pacmanButton>a{
	font-family: 'pacmanFont';
	font-size: 50px;
	text-decoration: none;
	color: #FFD700; 
}  

#table {

	background-color: #B0C4DE;
	border-radius: 25px;
	border: 4px solid 	#C71585;
	width: 30%;
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	color: #21262b; 
	
}
tr>td:nth-child(1){
	text-align: left;
	padding: 3px;
	margin: 3px; 
}


tr>td:nth-child(2) {
	text-align: right;
	padding: 3px;
	margin: 3px; 
}

tr>td:nth-child(3) {
	padding: 3px;
	margin: 3px;
	text-align: right;
	width: 150px;
	
}



